<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<e107Plugin name="News" version="2.1.0" date="2023-08-01" compatibility="2.3" installRequired="true" >
	<author name="Jimako" url="https://www.e107sk.com" />
		<summary>News plugin for e107sk.com</summary>
		<description lan="">News plugin for e107sk.com</description>
	<category>content</category>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" icon128="images/icon_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<siteLinks>
		<link url="news.php" perm='everyone' sef='index'>LAN_NEWS</link>
	</siteLinks> 
	<pluginPrefs>
		<pref name="news_cache_timeout">10</pref>
	</pluginPrefs>
</e107Plugin>